<a href="https://colab.research.google.com/github/samrutthi/ML-and-NLP-/blob/main/PCA_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dtst="mba_decision_dataset.csv"
data=pd.read_csv(dtst)
print(data.head())

C:\Users\sastra\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

   Person ID  Age  Gender Undergraduate Major  Undergraduate GPA  \
0          1   27    Male                Arts               3.18
1          2   24    Male                Arts               3.03
2          3   33  Female            Business               3.66
3          4   31    Male         Engineering               2.46
4          5   28  Female            Business               2.75

   Years of Work Experience Current Job Title  Annual Salary (Before MBA)  \
0                         8      Entrepreneur                       90624
1                         4           Analyst                       53576
2                         9          Engineer                       79796
3                         1           Manager                      105956
4                         9      Entrepreneur                       96132

  Has Management Experience  GRE/GMAT Score  Undergrad University Ranking  \
0                        No             688                           185
1                       Yes             791                           405
2                        No             430                           107
3                        No             356                           257
4                        No             472                           338

   Entrepreneurial Interest  Networking Importance MBA Funding Source  \
0                       7.9                    7.6               Loan
1                       3.8                    4.1               Loan
2                       6.7                    5.5        Scholarship
3                       1.0                    5.3               Loan
4                       9.5                    4.9               Loan

  Desired Post-MBA Role  Expected Post-MBA Salary  \
0       Finance Manager                    156165
1       Startup Founder                    165612
2            Consultant                    122248
3            Consultant                    123797
4            Consultant                    197509

  Location Preference (Post-MBA)     Reason for MBA Online vs. On-Campus MBA  \
0                  International   Entrepreneurship                On-Campus
1                  International      Career Growth                   Online
2                       Domestic  Skill Enhancement                   Online
3                  International   Entrepreneurship                On-Campus
4                       Domestic  Skill Enhancement                   Online

  Decided to Pursue MBA?
0                    Yes
1                     No
2                     No
3                     No
4                    Yes

In [ ]:
print(data.isnull().sum())

Person ID                         0
Age                               0
Gender                            0
Undergraduate Major               0
Undergraduate GPA                 0
Years of Work Experience          0
Current Job Title                 0
Annual Salary (Before MBA)        0
Has Management Experience         0
GRE/GMAT Score                    0
Undergrad University Ranking      0
Entrepreneurial Interest          0
Networking Importance             0
MBA Funding Source                0
Desired Post-MBA Role             0
Expected Post-MBA Salary          0
Location Preference (Post-MBA)    0
Reason for MBA                    0
Online vs. On-Campus MBA          0
Decided to Pursue MBA?            0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Check for categorical columns
categorical_columns = data.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_columns)

Categorical columns: Index(['Gender', 'Undergraduate Major', 'Current Job Title',
       'Has Management Experience', 'MBA Funding Source',
       'Desired Post-MBA Role', 'Location Preference (Post-MBA)',
       'Reason for MBA', 'Online vs. On-Campus MBA', 'Decided to Pursue MBA?'],
      dtype='object')

In [ ]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Apply Label Encoding to each categorical column
for col in categorical_columns:
    data[col] = label_encoder.fit_transform(data[col])

# Display the transformed dataset
print(data.head())

   Person ID  Age  Gender  Undergraduate Major  Undergraduate GPA  \
0          1   27       1                    0               3.18
1          2   24       1                    0               3.03
2          3   33       0                    1               3.66
3          4   31       1                    3               2.46
4          5   28       0                    1               2.75

   Years of Work Experience  Current Job Title  Annual Salary (Before MBA)  \
0                         8                  3                       90624
1                         4                  0                       53576
2                         9                  2                       79796
3                         1                  4                      105956
4                         9                  3                       96132

   Has Management Experience  GRE/GMAT Score  Undergrad University Ranking  \
0                          0             688                           185
1                          1             791                           405
2                          0             430                           107
3                          0             356                           257
4                          0             472                           338

   Entrepreneurial Interest  Networking Importance  MBA Funding Source  \
0                       7.9                    7.6                   1
1                       3.8                    4.1                   1
2                       6.7                    5.5                   2
3                       1.0                    5.3                   1
4                       9.5                    4.9                   1

   Desired Post-MBA Role  Expected Post-MBA Salary  \
0                      2                    156165
1                      4                    165612
2                      0                    122248
3                      0                    123797
4                      0                    197509

   Location Preference (Post-MBA)  Reason for MBA  Online vs. On-Campus MBA  \
0                               1               1                         0
1                               1               0                         1
2                               0               3                         1
3                               1               1                         0
4                               0               3                         1

   Decided to Pursue MBA?
0                       1
1                       0
2                       0
3                       0
4                       1

In [ ]:
data

,Person ID,Age,Gender,Undergraduate Major,Undergraduate GPA,Years of Work Experience,Current Job Title,Annual Salary (Before MBA),Has Management Experience,GRE/GMAT Score,Undergrad University Ranking,Entrepreneurial Interest,Networking Importance,MBA Funding Source,Desired Post-MBA Role,Expected Post-MBA Salary,Location Preference (Post-MBA),Reason for MBA,Online vs. On-Campus MBA,Decided to Pursue MBA?
0,1,27,1,0,3.18,8,3,90624,0,688,185,7.9,7.6,1,2,156165,1,1,0,1
1,2,24,1,0,3.03,4,0,53576,1,791,405,3.8,4.1,1,4,165612,1,0,1,0
2,3,33,0,1,3.66,9,2,79796,0,430,107,6.7,5.5,2,0,122248,0,3,1,0
3,4,31,1,3,2.46,1,4,105956,0,356,257,1.0,5.3,1,0,123797,1,1,0,0
4,5,28,0,1,2.75,9,3,96132,0,472,338,9.5,4.9,1,0,197509,0,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,33,0,2,3.55,5,0,109172,1,524,100,9.2,8.0,1,4,69000,1,2,1,1
9996,9997,30,0,1,2.48,5,4,82515,1,330,362,7.4,8.5,2,0,131054,0,1,0,0
9997,9998,31,0,2,2.86,8,4,34152,1,681,308,6.8,8.8,1,0,100806,0,2,0,1
9998,9999,22,0,0,2.30,1,2,61897,0,481,190,5.7,7.7,3,3,115872,1,2,1,1
9999,10000,22,1,0,2.86,2,4,111499,0,710,226,8.0,1.7,0,3,103245,0,0,0,0

In [ ]:
data.shape

(10000, 20)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Person ID                       10000 non-null  int64
 1   Age                             10000 non-null  int64
 2   Gender                          10000 non-null  int32
 3   Undergraduate Major             10000 non-null  int32
 4   Undergraduate GPA               10000 non-null  float64
 5   Years of Work Experience        10000 non-null  int64
 6   Current Job Title               10000 non-null  int32
 7   Annual Salary (Before MBA)      10000 non-null  int64
 8   Has Management Experience       10000 non-null  int32
 9   GRE/GMAT Score                  10000 non-null  int64
 10  Undergrad University Ranking    10000 non-null  int64
 11  Entrepreneurial Interest        10000 non-null  float64
 12  Networking Importance           10000 non-null  float64
 13  MBA Funding Source              10000 non-null  int32
 14  Desired Post-MBA Role           10000 non-null  int32
 15  Expected Post-MBA Salary        10000 non-null  int64
 16  Location Preference (Post-MBA)  10000 non-null  int32
 17  Reason for MBA                  10000 non-null  int32
 18  Online vs. On-Campus MBA        10000 non-null  int32
 19  Decided to Pursue MBA?          10000 non-null  int32
dtypes: float64(3), int32(10), int64(7)
memory usage: 1.1 MB

In [ ]:
# Assuming the target column is named 'target'
X = data.drop(columns=['Decided to Pursue MBA?'])  # Replace 'target' with the actual target column name
y = data['Decided to Pursue MBA?']

# Display the shapes of X and y
print("Features shape:", X.shape)
print("Target shape:", y.shape)

Features shape: (10000, 19)
Target shape: (10000,)

In [ ]:
print(X)

      Person ID  Age  Gender  Undergraduate Major  Undergraduate GPA  \
0             1   27       1                    0               3.18
1             2   24       1                    0               3.03
2             3   33       0                    1               3.66
3             4   31       1                    3               2.46
4             5   28       0                    1               2.75
...         ...  ...     ...                  ...                ...
9995       9996   33       0                    2               3.55
9996       9997   30       0                    1               2.48
9997       9998   31       0                    2               2.86
9998       9999   22       0                    0               2.30
9999      10000   22       1                    0               2.86

      Years of Work Experience  Current Job Title  Annual Salary (Before MBA)  \
0                            8                  3                       90624
1                            4                  0                       53576
2                            9                  2                       79796
3                            1                  4                      105956
4                            9                  3                       96132
...                        ...                ...                         ...
9995                         5                  0                      109172
9996                         5                  4                       82515
9997                         8                  4                       34152
9998                         1                  2                       61897
9999                         2                  4                      111499

      Has Management Experience  GRE/GMAT Score  Undergrad University Ranking  \
0                             0             688                           185
1                             1             791                           405
2                             0             430                           107
3                             0             356                           257
4                             0             472                           338
...                         ...             ...                           ...
9995                          1             524                           100
9996                          1             330                           362
9997                          1             681                           308
9998                          0             481                           190
9999                          0             710                           226

      Entrepreneurial Interest  Networking Importance  MBA Funding Source  \
0                          7.9                    7.6                   1
1                          3.8                    4.1                   1
2                          6.7                    5.5                   2
3                          1.0                    5.3                   1
4                          9.5                    4.9                   1
...                        ...                    ...                 ...
9995                       9.2                    8.0                   1
9996                       7.4                    8.5                   2
9997                       6.8                    8.8                   1
9998                       5.7                    7.7                   3
9999                       8.0                    1.7                   0

      Desired Post-MBA Role  Expected Post-MBA Salary  \
0                         2                    156165
1                         4                    165612
2                         0                    122248
3                         0                    123797
4                         0                    197509
...                     ...                       ...
9995                      4                     69000
9996                      0                    131054
9997                      0                    100806
9998                      3                    115872
9999                      3                    103245

      Location Preference (Post-MBA)  Reason for MBA  Online vs. On-Campus MBA
0                                  1               1                         0
1                                  1               0                         1
2                                  0               3                         1
3                                  1               1                         0
4                                  0               3                         1
...                              ...             ...                       ...
9995                               1               2                         1
9996                               0               1                         0
9997                               0               2                         0
9998                               1               2                         1
9999                               0               0                         0

[10000 rows x 19 columns]

In [ ]:
print(y)

0       1
1       0
2       0
3       0
4       1
       ..
9995    1
9996    0
9997    1
9998    1
9999    0
Name: Decided to Pursue MBA?, Length: 10000, dtype: int32

In [ ]:
from sklearn.preprocessing import StandardScaler

# Standardize the features
scaler = StandardScaler()
X_standardized = scaler.fit_transform(X)

In [ ]:
from sklearn.decomposition import PCA

# Apply PCA
pca = PCA(n_components=2)  # Reduce to 2 dimensions for visualization
X_pca = pca.fit_transform(X_standardized)

# Explained variance ratio
print("Explained variance ratio:", pca.explained_variance_ratio_)

Explained variance ratio: [0.05648036 0.05578316]

In [ ]:
from sklearn.decomposition import PCA

# Apply PCA
pca = PCA(n_components=5)  # Reduce to 2 dimensions for visualization
X_pca = pca.fit_transform(X_standardized)

# Explained variance ratio
print("Explained variance ratio:", pca.explained_variance_ratio_)

Explained variance ratio: [0.05648036 0.05578316 0.05532108 0.05495725 0.05447124]

In [ ]:
from sklearn.decomposition import PCA

# Apply PCA
pca = PCA(n_components=19)  # Reduce to 2 dimensions for visualization
X_pca = pca.fit_transform(X_standardized)

# Explained variance ratio
print("Explained variance ratio:", pca.explained_variance_ratio_)

Explained variance ratio: [0.05648036 0.05578316 0.05532108 0.05495725 0.05447124 0.05406385
 0.05386423 0.05343949 0.05297648 0.05273747 0.05223995 0.05208369
 0.05153323 0.05108769 0.05054033 0.05036832 0.05014963 0.04928313
 0.04861942]

In [ ]:
from sklearn.decomposition import PCA

# Apply PCA
pca = PCA(n_components=2)  # Reduce to 2 dimensions for visualization
X_pca = pca.fit_transform(X_standardized)

# Explained variance ratio
print("Explained variance ratio:", pca.explained_variance_ratio_)

Explained variance ratio: [0.05648036 0.05578316]

In [ ]:
from sklearn.model_selection import train_test_split

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Train KNN
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

# Predict on test data
y_pred = knn.predict(X_test)

# Evaluate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy after PCA + KNN:", accuracy)

Accuracy after PCA + KNN: 0.5395

In [ ]:
from sklearn.model_selection import train_test_split

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
print(X)

      Person ID  Age  Gender  Undergraduate Major  Undergraduate GPA  \
0             1   27       1                    0               3.18
1             2   24       1                    0               3.03
2             3   33       0                    1               3.66
3             4   31       1                    3               2.46
4             5   28       0                    1               2.75
...         ...  ...     ...                  ...                ...
9995       9996   33       0                    2               3.55
9996       9997   30       0                    1               2.48
9997       9998   31       0                    2               2.86
9998       9999   22       0                    0               2.30
9999      10000   22       1                    0               2.86

      Years of Work Experience  Current Job Title  Annual Salary (Before MBA)  \
0                            8                  3                       90624
1                            4                  0                       53576
2                            9                  2                       79796
3                            1                  4                      105956
4                            9                  3                       96132
...                        ...                ...                         ...
9995                         5                  0                      109172
9996                         5                  4                       82515
9997                         8                  4                       34152
9998                         1                  2                       61897
9999                         2                  4                      111499

      Has Management Experience  GRE/GMAT Score  Undergrad University Ranking  \
0                             0             688                           185
1                             1             791                           405
2                             0             430                           107
3                             0             356                           257
4                             0             472                           338
...                         ...             ...                           ...
9995                          1             524                           100
9996                          1             330                           362
9997                          1             681                           308
9998                          0             481                           190
9999                          0             710                           226

      Entrepreneurial Interest  Networking Importance  MBA Funding Source  \
0                          7.9                    7.6                   1
1                          3.8                    4.1                   1
2                          6.7                    5.5                   2
3                          1.0                    5.3                   1
4                          9.5                    4.9                   1
...                        ...                    ...                 ...
9995                       9.2                    8.0                   1
9996                       7.4                    8.5                   2
9997                       6.8                    8.8                   1
9998                       5.7                    7.7                   3
9999                       8.0                    1.7                   0

      Desired Post-MBA Role  Expected Post-MBA Salary  \
0                         2                    156165
1                         4                    165612
2                         0                    122248
3                         0                    123797
4                         0                    197509
...                     ...                       ...
9995                      4                     69000
9996                      0                    131054
9997                      0                    100806
9998                      3                    115872
9999                      3                    103245

      Location Preference (Post-MBA)  Reason for MBA  Online vs. On-Campus MBA
0                                  1               1                         0
1                                  1               0                         1
2                                  0               3                         1
3                                  1               1                         0
4                                  0               3                         1
...                              ...             ...                       ...
9995                               1               2                         1
9996                               0               1                         0
9997                               0               2                         0
9998                               1               2                         1
9999                               0               0                         0

[10000 rows x 19 columns]

In [ ]:
print(y)

0       1
1       0
2       0
3       0
4       1
       ..
9995    1
9996    0
9997    1
9998    1
9999    0
Name: Decided to Pursue MBA?, Length: 10000, dtype: int32

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Train KNN
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

# Predict on test data
y_pred = knn.predict(X_test)

# Evaluate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy after PCA + KNN:", accuracy)

Accuracy after PCA + KNN: 0.5105